*{
    padding: 0%;
    margin: 0%;
}

    body {
        height: 100vh;
        box-sizing: border-box;
        background-color: white;
        display: flex;
        flex-direction: column;
    }

    .topo {
        padding: 1rem;
        background-color: white;
    }

    .topo-img{
        display: flex;
        height: 50px;
        width: auto;
    }

    .topo-menu {
        display: flex;
        gap: 40px;
        font-size: x-large;
        justify-content: center;
        color: blue;
    }

        .topo-menu a{
            text-decoration: none;
        }

    .principal{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: auto;
        text-align: center;
    }

    .rodape {
        color: white;
        background-color: blue;
        padding: 0.1rem;
        text-align: initial;
    }